<h3>Recent Activity</h3>

<ul id="activity-feed-list">
    {% for action in actions %}

        <!-- Keep last 5 activities posted -->
        {% if forloop.counter < 6 %}

            <li>({{ action.created|date:'m/d/Y' }}) - <a href="{% url 'users:profile' action.user.username %}"
            >{{ action.user.username }}</a> {{ action.verb }} {% if action.target %}
                <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>{% else %}Not Found{% endif %}
            </li>

        {% endif %}

    {% empty %}

        <li>No activity yet.</li>

    {% endfor %}
</ul>