{% extends "adventures/base.html" %}
{% load static %}

{% block page-title %}About{% endblock %}

<!-- Main content of page -->
{% block content %}

    <!-- Div to hold About Info -->
    <div id="aboutDiv">

        <h3>About Fido&Student Adventures</h3>

        <p>Fido&Student Adventures was created as a way for students in the Blacksburg region to find more
            adventures to take with their best pals. It's our hope to share our love for dogs and foster a dog
            friendly community in Blacksburg.</p>

        <br />

        <p>Fido&Student Adventures was created by <a href="jacobkubik.com">Jacob Kubik</a>.</p>
    </div>

{% endblock %}