{% extends "adventures/base.html" %}
{% load static %}

{% block page-title %}Contact{% endblock %}

<!-- Main content of page -->
{% block content %}

    <!-- Div to hold About Info -->
    <div id="contactDiv">

        <h3>Contact the Website's Creator</h3>

        <p>Fido&Student Adventures was created by <a href="jacobkubik.com">Jacob Kubik</a>.</p>

        <br />

        <p>Email: <a href="mailto:jckubik@vt.edu">jckubik@vt.edu</a></p>

        <br />

        <p>Twitter: <a href="https://twitter.com/itsjacobkubik">https://twitter.com/itsjacobkubik</a></p>

    </div>

{% endblock %}