{% extends "adventures/base.html" %}
{% load static %}

{% block page-title %}Adventure Creator{% endblock %}

<!-- Main content of page -->
{% block content %}

    <!-- The Escape-->
          <div>
            <a href="{% url 'adventures:adventure_location_list' %}">Back</a>
          </div>

          <h2>Adventure Creator</h2>

          <!-- Form to collect the adventure data -->
          <form id="create-new-adventure" action="{% url 'adventures:adventure_creator' %}" method="POST">
            {% csrf_token %}
            <!-- Upper Form Section -->
            <div id="upper-form-section">

              <!-- Hold Option Buttons -->
              <div id="option-buttons">
                <button type="button">Cancel</button>
                <button type="submit" name="submit">Save Location</button>
              </div>

              <!-- Hold Main Item Forms-->
                <p>* = required </p>
              <div id="main-items-div">

                    <div>
                      <label for="locationMainImage">Add Main Image*</label>
                      <input type="text" id ="locationMainImage" name="locationMainImage" placeholder="Add Image URL"
                             required>
                    </div>

                  <div>
                        <label for="locationName">Location Name*</label>
                        <input type="text" name="locationName" placeholder="Add Name" required>
                  </div>

                  <div>
                        <label for="locationDescription">Description*</label>
                        <input type="textArea" id="locationDescription" name="locationDescription"
                               placeholder="Add Description" required>
                  </div>
                  <div>
                        <label for="mainImageAlt">Add Alt Text*</label>
                        <input type="text" id="mainImageAlt" name="mainImageAlt" placeholder="Image Alt Text" required>
                  </div>



              </div><!-- End main items div -->
            </div> <!-- End upper form section div -->

{#            <!-- Lower Form Section -->#}
{#            <div id="lower-form-section">#}

{#              <!-- Hold Features -->#}
{#              <div id="feature-options">#}
{#                <p>Features</p>#}
{##}
{#                <div>#}
{#                  <label for="water">Water Source</label>#}
{#                  <input type="checkbox" id="water" name="water">#}
{#                </div>#}
{##}
{#                <div>#}
{#                  <label for="poopBags">Poop Bags</label>#}
{#                  <input type="checkbox" id="poopBags" name="poopBags">#}
{#                </div>#}
{##}
{#                <div>#}
{#                  <label for="water">Off Leash</label>#}
{#                  <input type="checkbox" id="offLeash" name="offLeash">#}
{#                </div>#}
{##}
{#                <div>#}
{#                  <label for="smallDogs">Small Dogs</label>#}
{#                  <input type="checkbox" id="smallDogs" name="smallDogs">#}
{#                </div>#}
{##}
{#                <div>#}
{#                  <label for="largeDogs">Large Dogs</label>#}
{#                  <input type="checkbox" id="largeDogs" name="largeDogs">#}
{#                </div>#}
{##}
{#                <div>#}
{#                  <label for="allDogs">All Dogs</label>#}
{#                  <input type="checkbox" id="allDogs" name="allDogs">#}
{#                </div>#}

{#              </div> <!-- End feature-options div-->#}
{##}
{#            </div> <!-- End Lower Form Section -->#}

          </form>

{% endblock %}